{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin: 10px">
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                Agendamento
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                        </li>
                    </ul>
                     <a class="btn btn-primary btn-sm" href="{{ path('agendamento_create') }}">Novo Cadastro</a>
                </div>
            </nav>

            <div class="row" style="margin: 10px">
                {% for key, value in agendas %}
                    <h6>{{ key }}</h6>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Data/Hora</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Serviço</th>
                            <th scope="col">Profissional</th>
                            <th scope="col">Situação</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for agenda in value %}
                        <tr>
                            <td>{{ agenda.data_hora }}</td>
                            <td>{{ agenda.cliente }}</td>
                            <td>{{ agenda.servico }}</td>
                            <td>{{ agenda.profissional }}</td>
                            <td>{{ agenda.situacao }}</td>
                            <td class="text-right">
                                <button class="btn btn-primary btn-sm" type="submit">Alterar</button> &nbsp;
                                <button class="btn btn-danger btn-sm" type="submit">Excluir</button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3>Registro não encontrado</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}